body{
  background-image: url(background.jpeg);
  background-size:contain;
  background-position:top;
}
div.sidenav {
     width: 330px;
     height: 70%;
     position: fixed;
     z-index: 1000;

     left: 50px;
     background: #0f0f0f;
     overflow-x: hidden;
     padding: 8px 0;
     box-shadow: 5px 8px 30px -6px #000000;

}
div.sidenav h1 {
     font-size: 26x;
     font-family: open sans, arial, sans-serif;
     color: #f1f3f4;
     font-weight:bolder;
     padding-left:22px;

}
div.sidenav a {
     font-size: 20px;
     font-family: open sans, arial, sans-serif;
     color: #f1f3f4;
     font-weight:lighter;
     padding-left: 15px;

}



div.sidenav h2 {
     font-size: 20x;
     font-family: open sans, arial, sans-serif;
     color: #f1f3f4;
     padding-left:20px;

}
body p {
  padding-left: 400px;
  color: white;
  padding-right: 200px;
}
h2{
  padding-left: 400px;
  color: white;
  padding-right: 200px;
}
img{
    padding-left: 400px;
}
