* {
  box-sizing: border-box;
}

body {
  font-family: open-sans, Helvetica, sans-serif;
}

#bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1000;
}

/*
#wrapper{ idk iwie krieg ich denn nicht sinnvoll eingebunden??
  width: 99%;
  margin: auto;
  background-color: orange;
}*/

/*Hamburger: */

a {
  text-decoration: none;
  color: white;
  line-height: 2;
  transition: color 0.3s ease;
}

a:hover {
  color: orange;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 70px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: sticky;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: orange;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: grey;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  height: 600px;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*content*/

.content-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    height: 100%;
    width: 60%;
    margin-top: 50px;
    margin-left: 400px;
    padding: 40px;
    padding-top: 50px;
    background-color: black;
  }

.content-container h1 {
  color: white;
  flex: 1;
  padding-right: 20px;
  height: 100%;
  text-transform: uppercase;
}

.content-container p {
  padding: 20px 70px 20px 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
  overflow-y: hidden;
}
.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
.flex-outer input {
  flex:1;
}

.flex-outer label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 2px;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer  label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer label {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: grey;
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

::-webkit-scrollbar {
width: 10px;
background: black;
border: 1px solid #000;
}

::-webkit-scrollbar-thumb {
background: orange;
border: 1px solid #000;
}

.flexin {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
}

sup {
  line-height: 0px;
  font-size: 12px;
}

hr
{
  border: 0;
  height: 1px;
  background: linear-gradient(to left, #333, #FF3300, #333);
}


.content-container section {
  color: white;
  flex: 1;
  background: black;

}
.content-container table {
  color: white;
  flex: 1;
  background: black;
}


/* blĂśd weil webkit nur auf chrome und safari funktioniert, manno*/

@media screen and (max-width:1020px) {

.content-container {

  height: 100%;
  width: 80%;
  margin-top: 30px;
  margin-left: 200px;
  padding: 40px;
  padding-top: 50px;
  background-color: black;
}
}

@media screen and (max-width:600px) {

body {
    background-color: white;
}

#bg {
   display: none;
}

.flexin {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   flex-direction: column;
   flex-wrap: wrap;
}
.content-container {
    padding-top: 14px;
    padding-bottom: 10px;
    height:100%;
    width: 100%;
    justify-content: flex-start;
    color: black;
    background: white;
    z-index:-1;
    overflow-y: hidden;
    transform: translate(-30px,-10);
    transition: transform 0.5s cubic-bezier(0,0,0,0)

  }
.content-container  p {
  padding: 4px 14px 10px 10px;
  letter-spacing: .01em;
  border-radius: 2px;
  margin-left: 50px;
  color: black;
  background: white;
}

#menu  {
    margin: -200px 0 0 -70px;
}
#menu li {
    padding: 50px 0;
    font-size: 22px;
}

  /*.span-container {
    width: 990px;
    height: 100px;
    background: black;
    z-index: -1px;
    margin: -110px 0 0 -100px;
    position: static;
  }*/

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: orange;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 0px 0px;
    transform: translate(-20px,-48px);
    transition: transform 0 cubic-bezier(0,0,0,0),

  }

  #menuToggle input {
    display: block;
    width: 33px;
    height: 4;
    position: relative;
    transform: translate(3px,-1px);
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }


  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: grey;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0px);
  }


  ::-webkit-scrollbar {
    display: none;
    }

  ::-webkit-scrollbar-thumb {
  display: none;
  }

  sup {
    line-height: 0px;
    font-size: 12px;
    color: black;
  }

  hr
  {
    border: 0;
    height: 1px;
    background: linear-gradient(to left, #333, #FF3300, #333);
  }

  .content-container h1, h2 {
    color: black;
    background-color: white;
  }
  .content-container section {
    color: black;
    background-color: white;
  }
  .content-container table {
    color: black;
    background-color: white;
  }
}














/*menu*/
